



    <div class="fixed-left">

        

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="mdi mdi-close"></i>
                </button>

                <div class="left-side-logo d-block d-lg-none">
                    <div class="text-center">
                        
                        <a href="index.html" class="logo"><img src="assets/images/logo_dark.png" height="20" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">
                    
                    <div id="sidebar-menu">
                        <ul>
                            <li class="menu-title">Main</li>

                            <li>
                                <a href="index.html" class="waves-effect">
                                    <i class="dripicons-home"></i>
                                    <span> Dashboard </span>
                                </a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/packages" routerLinkActive="active" class="waves-effect"><i class="dripicons-briefcase"></i> <span> Packages </span></a>
                               </li>

                            <li class="has_sub">
                                <a routerLink="/customer" routerLinkActive="active" class="waves-effect"><i class="dripicons-archive"></i> <span> Customers </span> </a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/orders" routerLinkActive="active" class="waves-effect"><i class="dripicons-rocket"></i> <span> Orders </span></a>
                              </li>

                            <li>
                                <a routerLink="/transactions" routerLinkActive="active" class="waves-effect"><i class="dripicons-calendar"></i><span> Transactions </span></a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/Marketing staffs" routerLinkActive="active" class="waves-effect"><i class="dripicons-document"></i><span> Marketing staffs </span></a>
                               </li>

                            <li class="has_sub">
                                <a routerLink="/Deliveryboys" routerLinkActive="active" class="waves-effect"><i class="dripicons-graph-bar"></i><span> Delivery boys </span></a>
                               </li>

                            <li class="has_sub">
                                <a routerLink="/Reviews" routerLinkActive="active" class="waves-effect"><i class="dripicons-view-thumb"></i><span> Reviews </span> </a>
                                </li>

                            <li class="has_sub">
                                <a routerLink="/Sub-admins" routerLinkActive="active" class="waves-effect"><i class="dripicons-location"></i><span> Sub-admins </span></a>
                                </li>
                            </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <div class="topbar-left	d-none d-lg-block">
                            <div class="text-center">
                                <a href="index.html" class="logo"><img src="assets/images/logo.png" height="22" alt="logo"></a>
                            </div>
                        </div>

                        <nav class="navbar-custom">

                             <!-- Search input -->
                            

                            <ul class="list-inline float-right mb-0">
                              

                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-bell-outline noti-icon"></i>
                                        
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg dropdown-menu-animated">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>Notification</h5>
                                        </div>

                                        <div class="slimscroll-noti"></div>
                                     <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-all">
                                            View All
                                        </a>

                                    </div>
                                </li>
    

                                <li class="list-inline-item dropdown notification-list nav-user">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <img src="assets/images/users/avatar-6.jpg" alt="user" class="rounded-circle">
                                        <span class="d-none d-md-inline-block ml-1">Admin<i class="mdi mdi-chevron-down"></i> </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                        <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                                        <a class="dropdown-item" href="#"><span class="badge badge-success float-right m-t-5">5</span><i class="dripicons-gear text-muted"></i> Settings</a>
                                        <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted"></i> Logout</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </li>
                               </ul>
                                 </nav>
                                 </div>
                    <!-- Top Bar End -->

                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <h4 class="page-title m-0">Packages</h4>
                                            </div>
                                            <div class="col-md-4">
                                       <div class="float-right d-none d-md-block">
                                  <button routerLink="/addpackagesdashboard" type="button" class="btn btn-primary">  Add package </button>
                            
                                    </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title-box -->
                </div>
            </div> 
                            <!-- end page title -->
                           
                            <div class="row">
                                <div class="col-6" *ngFor="let serve of packk">
                                    <!-- <div *ngFor="let serve of packk"> -->
                                <div class="card m-b-30">
                                <img class="card-img-top img-fluid" src="{{serve.image}}" alt="Card image cap">
                                <div class="card-body">
                                <h4 class="card-title font-16 mt-0">{{serve.name}}</h4>
                                <p class="card-text"></p>
        
                                <div class="d-flex justify-content-center">
                                <div class="d-flex justify-content-between">
                                <a class="btn btn-primary waves-effect waves-light" id="bt" >Edit</a> 
                                </div>
                                <div class="d-flex justify-content-between">
                                        <a class="btn btn-primary waves-effect waves-light" (click)="deleteList(serve._id)" >Delete</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            
                     
        
                      <!-- popup -->
                      <div class="col-sm-6 col-md-3 m-t-30">
                        <div class="text-center">
                    
                        </div>
        
        
                        <!--  Modal content for the above example -->
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Packages</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       
                <span>Product Name</span>
                <div class=container>
                <div class="row" id="pck11">
                 <div class="col-3"><button  class="btn btn-outline-secondary waves-effect" type="button"  id="prod1">BREAKFAST</button></div>
                 <div class="col-3"></div>
                 <div class="col-3"> <span>Categories</span> <br>
                     <button class="btn btn-outline-secondary waves-effect" type="button"> Single</button>
                    </div>
                 <div class="col-3"><span>Nos</span> <br>
                     <button class="btn btn-outline-secondary waves-effect" type="button">1</button></div>
        
               
                </div>
                
                <div class="row" id="pck11">
                    <div class="col-3"><button class="btn btn-outline-secondary waves-effect" type="button" id="prod1">LUNCH</button></div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <button class="btn btn-outline-secondary waves-effect" type="button" >group</button>
                       </div>
                    <div class="col-3"><button class="btn btn-outline-secondary waves-effect" type="button">5</button></div>
           
                    
                   </div> 
                   
                   <div class="row" id="pck11">
                    <div class="col-3"><button class="btn btn-outline-secondary waves-effect" type="button"  id="prod1" >DINNER</button></div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <button class="btn btn-outline-secondary waves-effect" type="button" >Family</button>
                       </div>
                    <div class="col-3"><button class="btn btn-outline-secondary waves-effect" type="button">4</button></div>
           
                    
                   </div>
                   
                   <div class="row" id="pck11">
                    <div class="col-3"><button class="btn btn-outline-secondary waves-effect" type="button" id="prod1" >+ADD NEW</button></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
           </div> 
           <div class="row" id="prod">
           <div class="col-6">Product Details</div>
           <div class="col-6">Categories <br>
            <div class="btn-group m-b-10">
                <button type="button" class="btn btn-secondary">Single</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
           </div>
           </div>
           </div>
           <div class="row">
            <div class="col-6">Package Name</div>
            <div class="col-6"></div>
             
        </div>
        <div class="row">
            <div class="col-6"><input type="text"></div>
            <div class="col-3">Product Name</div>
            <div class="col-3">Pricing</div>
           
            </div> 
            <div class="row" id="pkt11">
                <div class="col-6"><div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" id="dradro">
                    <ngx-dropzone-label>
                        <div>
                            <h2>Drag Your Image</h2>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </div>
       </div>
                <div class="col-3"><input type="text" id="txtt1"></div>
                <div class="col-3"><input type="text" id="txtt1" ></div>
               
                </div> <br>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-3"><input type="text" id="txtt1"><br> </div> 
                    <div class="col-3"><input type="text" id="txtt1"></div>
                   
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-3"><input type="text" id="txtt1"><br> </div> 
                        <div class="col-3"><input type="text" id="txtt1"></div>
                       
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-3"> </div> 
                            <div class="col-3"><input type="text" id="txtt1"></div>
                           
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-3"> </div> 
                                <div class="col-3"><input type="text" id="txtt1"></div>
                               
                                </div>
                                       
                                        
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="col-6">
                                                   <h5 class="mb-12">Product Description</h5>
                                                    <textarea class="pd2" name="content" id="ckEditorClassic"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                
                            </div> <br>
                          <div class="row">
                          <div class="col-6"></div>
                          <div class="col-3"></div>
                          <div class="col-3"><button class="btn btn-primary" >Submit</button> </div>
        
                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                   
                            
        
                           <!-- popup end -->
         <!-- image uploader -->
         
         
         
                <!-- end cards -->
        