<app-dashboard-main></app-dashboard-main>
<div class="row">
<div class="col-3">hi</div>
<div class="col-9"><table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"> <input type="checkbox"></th>
            <th scope="col">Order id</th>
            <th scope="col">Name</th>
            <th scope="col">Package</th>
            <th scope="col">Starting date</th>
            <th scope="col">End date</th>
            <th scope="col">Status</th>
            <th scope="col">Delivery boy</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><input type="checkbox"></th>
            <td>1</td>
            <td>2</td>
            <td>3 in one pack</td>
            <td>3</td>
            <td>3/04/2021</td>
            <td>
                <button class="btn btn-warning" id="bt">hello</button>
            </td>
           <td><button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">Assign Delivery Boy</button></td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox"></th>
            <td>1</td>
            <td>2</td>
            <td>3 in one pack</td>
            <td>3</td>
            <td>3/04/2021</td>
            <td>
                <button class="btn btn-warning" id="bt">hello</button>
            </td>
           <td><button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">Assign Delivery Boy</button></td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox"></th>
            <td>1</td>
            <td>2</td>
            <td>3 in one pack</td>
            <td>3</td>
            <td>3/04/2021</td>
            <td>
                <button class="btn btn-warning" id="bt">hello</button>
            </td>
           <td><button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">Assign Delivery Boy</button></td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox"></th>
            <td>1</td>
            <td>2</td>
            <td>3 in one pack</td>
            <td>3</td>
            <td>3/04/2021</td>
            <td>
                <button class="btn btn-warning" id="bt">hello</button>
            </td>
           <td><button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">Assign Delivery Boy</button></td>
        </tr>
        
        </tbody>
</table></div>
</div>
 