



    <div class="fixed-left">

       

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="mdi mdi-close"></i>
                </button>

                <div class="left-side-logo d-block d-lg-none">
                    <div class="text-center">
                        
                        <a href="index.html" class="logo"><img src="assets/images/logo_dark.png" height="20" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">
                    
                    <div id="sidebar-menu">
                        <ul>
                            <li class="menu-title">Main</li>

                            <li>
                                <a href="index.html" class="waves-effect">
                                    <i class="dripicons-home"></i>
                                    <span> Dashboard </span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a routerLink="/packages" routerLinkActive="active" class="waves-effect"><i class="dripicons-briefcase"></i> <span> Packages </span></a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/customer" routerLinkActive="active" class="waves-effect"><i class="dripicons-archive"></i> <span> Customers </span> </a>
                               </li>

                            <li class="has_sub">
                                <a routerLink="/orders" routerLinkActive="active" class="waves-effect"><i class="dripicons-rocket"></i> <span> Orders </span> </a>
                               </li>

                            <li>
                                <a routerLink="/transactions" routerLinkActive="active" class="waves-effect"><i class="dripicons-calendar"></i><span> Transactions </span></a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/marketingstaffs" routerLinkActive="active" class="waves-effect"><i class="dripicons-document"></i><span> Marketing staffs </span></a>
                              </li>

                            <li class="has_sub">
                                <a routerLink="/deliveryboysdashboard" routerLinkActive="active" class="waves-effect"><i class="dripicons-graph-bar"></i><span> Delivery boys </span></a>
                                </li>

                            <li class="has_sub">
                                <a routerLink="/reviewsdashboard" routerLinkActive="active" class="waves-effect"><i class="dripicons-view-thumb"></i><span> Reviews </span></a>
                                </li>

                             <li class="has_sub">
                                <a  routerLink="/subadmins" routerLinkActive="active" class="waves-effect"><i class="dripicons-location"></i><span> Sub-admins </span></a>
                               </li>

                     </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
        

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <div class="topbar-left	d-none d-lg-block">
                            <div class="text-center">
                                <a href="index.html" class="logo"><img src="assets/images/logo.png" height="22" alt="logo"></a>
                            </div>
                        </div>

                        <nav class="navbar-custom">

                             <!-- Search input -->
                            <ul class="list-inline float-right mb-0">
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-bell-outline noti-icon"></i>
                                    
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg dropdown-menu-animated">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>Notification </h5>
                                        </div>

                                        <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-all">
                                            View All
                                        </a>

                                    </div>
                                </li>
    

                                <li class="list-inline-item dropdown notification-list nav-user">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <img src="assets/images/users/avatar-6.jpg" alt="user" class="rounded-circle">
                                        <span class="d-none d-md-inline-block ml-1">Admin<i class="mdi mdi-chevron-down"></i> </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                        <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                                        <a class="dropdown-item" href="#"><span class="badge badge-success float-right m-t-5">5</span><i class="dripicons-gear text-muted"></i> Settings</a>
                                        <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted"></i> Logout</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </li>
                                </ul>
                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <h4 class="page-title m-0">Packages</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="float-right d-none d-md-block">
                                                        <a href="addpackagesdashboard" class="btn btn-primary" type="button">  Add package
                                                        </a>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end page-title-box -->
                                </div>
                            </div> 
                            <!-- end page title -->
                            <div class="row">
                                <div class="col-6">
                                      <div class="card m-b-30">
                                    <img class="card-img-top img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title font-16 mt-0">Package name: 3 in one package</h4>
                                        <p class="card-text"></p>
                                            
                                            <div class="d-flex justify-content-center">
                                                <div class="d-flex justify-content-between">
                                                <a href="#" class="btn btn-primary waves-effect waves-light" id="btt1">Edit</a> 
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                     <a href="#" class="btn btn-primary waves-effect waves-light" id="btt2">Delete</a>
                                                    </div>
                                                </div>
                                            
                                                
                                                
                                            
                                      
                                       
                                        
                                    </div>
                                </div>
                            </div>
                                <div class="col-6">
                                    <div class="card m-b-30">
                                        <img class="card-img-top img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title font-16 mt-0">Package name: 3 in one package</h4>
                                            <p class="card-text"></p>

                                                <div class="d-flex justify-content-center">
                                                    <div class="d-flex justify-content-between">
                                                    <a href="#" class="btn btn-primary waves-effect waves-light" id="btt1">Edit</a>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                         <a href="#" class="btn btn-primary waves-effect waves-light" id="btt2">Delete</a>
                                                        </div>
                                                    </div>
                                           
                                       
                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card m-b-30">
                                        <img class="card-img-top img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title font-16 mt-0">Package name: 3 in one package</h4>
                                            <p class="card-text"></p>
                                          
                                                <div class="d-flex justify-content-center">
                                                    <div class="d-flex justify-content-between">
                                                    <a href="#" class="btn btn-primary waves-effect waves-light" id="btt1">Edit</a>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                         <a href="#" class="btn btn-primary waves-effect waves-light" id="btt2">Delete</a>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                  <!-- end cards -->
                           
