


    <div class="fixed-left">

       

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="mdi mdi-close"></i>
                </button>

                <div class="left-side-logo d-block d-lg-none">
                    <div class="text-center">
                        
                        <a href="index.html" class="logo"><img src="assets/images/logo_dark.png" height="20" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">
                    
                    <div id="sidebar-menu">
                        <ul>
                            <li class="menu-title">Main</li>
                              <li>
                                <a href="index.html" class="waves-effect">
                                    <i class="dripicons-home"></i>
                                    <span> Dashboard </span>
                                </a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/packages" routerLinkActive="active" class="waves-effect"><i class="dripicons-briefcase"></i> <span> Packages </span></a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/customer" routerLinkActive="active" class="waves-effect"><i class="dripicons-archive"></i> <span> Customers </span> </a>
                               </li>

                            <li class="has_sub">
                                <a routerLink="/orders" routerLinkActive="active" class="waves-effect"><i class="dripicons-rocket"></i> <span> Orders </span> </a>
                               </li>

                            <li>
                                <a routerLink="/transactions" routerLinkActive="active" class="waves-effect"><i class="dripicons-calendar"></i><span> Transactions </span></a>
                            </li>

                            <li class="has_sub">
                                <a routerLink="/marketingstaffs" routerLinkActive="active" class="waves-effect"><i class="dripicons-document"></i><span> Marketing staffs </span></a>
                              </li>

                            <li class="has_sub">
                                <a routerLink="/deliveryboysdashboard" routerLinkActive="active" class="waves-effect"><i class="dripicons-graph-bar"></i><span> Delivery boys </span></a>
                                </li>

                            <li class="has_sub">
                                <a routerLink="/reviewsdashboard" routerLinkActive="active" class="waves-effect"><i class="dripicons-view-thumb"></i><span> Reviews </span></a>
                                </li>

                             <li class="has_sub">
                                <a  routerLink="/Sub-admins" routerLinkActive="active" class="waves-effect"><i class="dripicons-location"></i><span> Sub-admins </span></a>
                               </li>

                     </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <div class="topbar-left	d-none d-lg-block">
                            <div class="text-center">
                                <a href="index.html" class="logo"><img src="assets/images/logo.png" height="22" alt="logo"></a>
                            </div>
                        </div>

                        <nav class="navbar-custom">

                             <!-- Search input -->
                             <div class="search-wrap" id="search-wrap">
                                <div class="search-bar">
                                    <input class="search-input" type="search" placeholder="Search" />
                                    <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                        <i class="mdi mdi-close-circle"></i>
                                    </a>
                                </div>
                            </div>

                            <ul class="list-inline float-right mb-0">
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link waves-effect toggle-search" href="#"  data-target="#search-wrap">
                                        <i class="mdi mdi-magnify noti-icon"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-bell-outline noti-icon"></i>
                                        <span class="badge badge-danger badge-pill noti-icon-badge">3</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg dropdown-menu-animated">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>Notification</h5>
                                        </div>

                                        <div class="slimscroll-noti">
                                            <!-- item-->
                                          </div>
                                         <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-all">
                                            View All
                                        </a>

                                    </div>
                                </li>
    

                                <li class="list-inline-item dropdown notification-list nav-user">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <img src="assets/images/users/avatar-6.jpg" alt="user" class="rounded-circle">
                                        <span class="d-none d-md-inline-block ml-1">Admin <i class="mdi mdi-chevron-down"></i> </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                        <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                                        <a class="dropdown-item" href="#"><span class="badge badge-success float-right m-t-5">5</span><i class="dripicons-gear text-muted"></i> Settings</a>
                                        <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted"></i> Logout</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect" >
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </li>
                                </ul>
                            </nav>
                         </div>
                    <!-- Top Bar End -->

                    <div class="page-content-wrapper ">
                        <div class="container-fluid">
                           <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <h4 class="page-title m-0">Dashboard</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="float-right d-none d-md-block">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-settings mr-1"></i> Settings
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Separated link</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end page-title-box -->
                                </div>
                            </div> 
                            <!-- end page title -->
                            <i class="bi bi-cart-fill"></i>

                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary mini-stat text-white">
                                        <div class="p-3 mini-stat-desc">
                                            <div class="clearfix">
                                                <h6 class="text-uppercase mt-0 float-left text-white-50"><i class='	fas fa-cart-arrow-down'></i></h6>
                                                <h4 class="mb-3 mt-0 float-right">5</h4>
                                            </div>
                                            <div>
                                           <span class="ml-2">New Order <i class="bi bi-cart-fill"></i></span>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
            
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-info mini-stat text-white">
                                        <div class="p-3 mini-stat-desc">
                                            <div class="clearfix">
                                                <h6 class="text-uppercase mt-0 float-left text-white-50"><i class='fas fa-motorcycle'></i></h6>
                                                <h4 class="mb-3 mt-0 float-right">2</h4>
                                            </div>
                                            <div>
                                             <span class="ml-2">Total customers</span>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-success mini-stat text-white">
                                        <div class="p-3 mini-stat-desc">
                                            <div class="clearfix">
                                                <h6 class="text-uppercase mt-0 float-left text-white-50"><i class='far fa-comment-alt'></i></h6>
                                                <h4 class="mb-3 mt-0 float-right">3</h4>
                                            </div>
                                            <div>
                                             <span class="ml-2">Donates</span>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-info mini-stat text-white">
                                        <div class="p-3 mini-stat-desc">
                                            <div class="clearfix">
                                                <h6 class="text-uppercase mt-0 float-left text-white-50"><i class='far fa-comment-alt'></i></h6>
                                                <h4 class="mb-3 mt-0 float-right">4</h4>
                                            </div>
                                            <div>
                                             <span class="ml-2">Guest</span>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>  
                            <!-- end row -->
            
                           
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


      
    </div>
